.elements {
  margin-top: 50px;
}

.elements__container {
  max-width: 880px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 361px);
  gap: 21px 17px;
  margin: 0 auto 0;
}

.elements__card-image {
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.elements__image {
  width: 282px;
  height: 282px;
  display: block;
}

.elements__card-image-rectangle {
  background-color: #fff;
  width: 246px;
  height: 30px;
  padding: 24px 15px 25px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.elements__card-image-text {
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 900;
  align-items: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.elements__card-image-button {
  background-image: url(../images/vectorcorazon.svg);
  border: none;
  cursor: pointer;
  width: 22px;
  height: 19px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;

}

.elements__card-image-button--active {
  background-image: url(../images/vectorblack.svg);
}

.elements__card-image-button:hover {
  opacity: 0.5;
}

.elements__card-delete-button {
  width: 18px;
  height: 19px;

  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.elements__card-delete-button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 544px) and (max-width: 1024px) {
  .elements__container {
    padding: 0;
  }


}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .elements__container {
    width: 282px;
    display: grid;
    grid-template-columns: 282px;
    padding: 0;
  }
}
