.footer {
  max-width: 880px;
  width: 100%;
  margin: 67px auto 0;
  padding-bottom: 67px;
}

.footer__copyright {
  color: #545454;
  max-width: 318px;
  height: 18px;
  font-size: 18px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .footer {
    width: 282px;
    margin: 50px auto 0;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
