.header {
}

.header__container {
  max-width: 880px;

  margin: 0 auto;
  box-sizing: border-box;
}

.header__title {
  margin-top: 45px;
}

.header__grey-line {
  width: 880px;
  width: 100%;
  border: 1px solid #545454;
  margin-top: 20px;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .header__container {
    
    padding: 0 27px;
  }
  .header__title {
    width: 150px;
  }

  .header__grey-line {
    margin-top: 32px;
  }
}
