.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

 /* visibility: hidden; */
 /* opacity: 0;*/
}

.modal__content {
  background-color: #fff;
  margin: 195px auto;
  padding: 34px 36px;
  max-width: 430px;
  min-height: 330px;
  width: 100%;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 0px 25px 0px #00000026;
  box-sizing: border-box;
  justify-self: center;
}

.modal__close-icon {
  position: absolute;
  right: -35px;
  top: -35px;
  cursor: pointer;
}

.modal__title {
  font-size: 24px;
  color: #000;
  font-weight: 900;
  margin: 0 64px 35px auto;
}

.modal__profile-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  box-sizing: border-box;
}

.modal__profile-input {
  width: 350px;
  height: 22px;
  border: 0;
  border-bottom: 1px solid #c4c4c4;
}

.modal__profile-submit {
  width: 358px;
  height: 50px;
  margin-top: 30px;
  color: #c4c4c4;
  font-size: 18px;
  border: 1px solid #c4c4c4;
  background-color: #fff;
}

.modal_type_confirmation .modal__profile-submit {
  background-color: #000000;
  color: white;
}

.modal--active {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__fields {
  height: 60px;
  line-height: 0.9;
  margin-bottom: 20px;
}

.modal__submit--active {
  background-color: #000;
  color: #fff;
}

.modal__submit--active:hover {
  opacity: 0.8;
}

.modal__input-error {
  opacity: 0;
  transition: opacity 0.3s;
}

.modal__input_type_error {
  border-bottom-color: red;
}

.modal__input-error_active {
  opacity: 1 !important;
  color: #ff0000 !important;
  display: block !important;
}

.popup__button_disabled {
  background-color: #fff;
  color: #c4c4c4;
  border: 1px solid #c4c4c4;
  cursor: default;
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .modal__content {
    max-width: 270px;
    padding: 24px 15px;
    box-sizing: border-box;
    justify-self: center;
  }

  .modal__close-icon {
    position: absolute;
    right: 0;
    width: 26px;
  }

  .modal__title {
    font-size: 18px;
  }

  .modal__profile-input {
    width: 230px;
    height: 19px;
    font-size: 14px;
  }

  .modal__profile-submit {
    width: 238px;
    height: 46px;
    margin-top: 46px;
  }

  .modal__fields {
    margin-bottom: 20px;
  }

  .modal__input-error_active {
    font-size: 12px;
  }
}
